<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>13905940640-p3qj8m8c9p49osk1098hrtbgjevt2etd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13905940640-p3qj8m8c9p49osk1098hrtbgjevt2etd</string>
	<key>API_KEY</key>
	<string>AIzaSyCkPX4dSY_uFTXM1dMz1Nd2a1SYZSQnR1w</string>
	<key>GCM_SENDER_ID</key>
	<string>13905940640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uedasoft-it.Sokuseki</string>
	<key>PROJECT_ID</key>
	<string>sokuseki-8a9ae</string>
	<key>STORAGE_BUCKET</key>
	<string>sokuseki-8a9ae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:13905940640:ios:28cd6275902a9279</string>
	<key>DATABASE_URL</key>
	<string>https://sokuseki-8a9ae.firebaseio.com</string>
</dict>
</plist>
